
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


div .ant-card-head-title {
  overflow: unset;
  white-space: unset;
  word-wrap: break-word;
 
}

.App-header {
  background-color: #61dafb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.ant-list-item {
  padding-left: 0!important;
  margin-left: 0!important;
  /* border-bottom: none!important; */

}

ul.ant-list-items  {
  list-style: unset!important;
  list-style-type: circle!important;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
